html, body {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  color: white;
  background: black;
  font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
  text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p {
  display: inline-block;
  margin: 0 2em 0 0;
}

h1:first-of-type {
  margin: 0 0 0.2em 0;
}

h1 {
  margin: 0.2em 0em;
  font-size: 2em;
  font-weight: 500;
  line-height: 1;
  word-break: break-all;
}

#container {
  max-width: 600px;
  padding: 1em;
}

